<ul class="student-list-container"></ul>
<!-- Loop over each student in the array and render it to the page -->
{{#each students as |student|}}
  <li class="student">
    <img src="./images/background-UCF.png" />
    <h2>Student Name: {{student.first_name}} {{student.last_name}}</h2>
    <p>Student Email Address: {{student.email}}</p>
    <p>Date of Graduation: {{student.graduation_month}}</p>
    {{#if student.looking_for_work}}
      <p>Student looking for employment: <input type="checkbox" checked></p>
    {{else}}
      <p>Student looking for employment: <input type="checkbox"></p>
    {{/if}}
    {{#if student.seeking_collab}}
      <p>Student looking for collaboration: <input type="checkbox" checked></p>
    {{else}}
      <p>Student looking for collaboration: <input type="checkbox"></p>
    {{/if}}
    
  </li>
{{/each}}